---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import FeelingStuck from "../components/FeelingStuck.astro";
import TradesCourses from "../components/TradesCourses.astro";
import JourneyCta from "../components/JourneyCta.astro";
import BuildFuture from "../components/BuildFuture.astro";
import Community from "../components/Community.astro";
import MoreThanLearning from "../components/MoreThanLearning.astro";
import LatestNews from "../components/LatestNews.astro";
---

<Layout>
  <Hero />
  <FeelingStuck />
  <TradesCourses />
  <div class="bg-black py-10">
    <JourneyCta variant="yellow" background="dark" />
  </div>
  <BuildFuture />
  <div class="bg-[#ECEBE6] py-10">
    <JourneyCta variant="blue" background="light" />
  </div>
  <Community />
  <MoreThanLearning />
  <div class="bg-[#ECEBE6] py-10">
    <JourneyCta variant="pink" background="light" />
  </div>
  <LatestNews />
</Layout>
